body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  top: 70px !important;
}
a {
  color: gray;
  text-decoration: none;
}
th {
  padding-top: 10px !important;
  font-weight: 600 !important;
}
td {
  padding-top: 10px !important;
}
.pageHeader {
  background: #e0e0e0;
  font-size: 14px !important;
  padding: 10px;
  margin-bottom: 10px !important;
}
.garyBackground {
  background: #eeeeee !important;
}
/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-qm9mjt-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  height: auto !important;
} */
.custombody button.MuiTab-textColorPrimary {
  align-items: flex-start;
  border-bottom: #dadada 1px solid;
  position: relative !important;
  padding: 15px !important;
}
.custombody button.MuiTab-textColorPrimary svg {
  position: absolute !important;
  right: 12px;
  top: 10px;
}
.lefttab {
  border: #dadada 1px solid;
}
.css-35zqo5-MuiTabs-root {
  overflow: inherit !important;
}
.css-13xfq8m-MuiTabPanel-root {
  padding-right: 0px !important;
}
#simple-tabpanel-0 .css-19kzrtu {
  padding: 10px;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  line-height: 0.4375em !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  min-height: 0.4375em !important;
}
.gray-button{
  background: gray !important;
}
.gray-button:hover, .gray-button:focus{
  background: #1976d2 !important;
}
.css-bpnhhg .MuiDrawer-paper {
  margin-top: 70px !important;
}
tbody tr td {
  cursor: pointer;
}
.StepButton-d10-0-2-32.active {
  background-color: rgb(233 30 99) !important;
}
.StepButton-d6-0-2-18.completed {
  background-color: rgb(197 16 77) !important;
}
/* .MuiInputBase-root input{
  height: 1em !important;
} */
/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 12.5px 14px !important;
} */
.customInput{
  background: #fff !important;
  border: 1px solid gray !important;
  border-radius: 5px !important;
  height: 45px !important; 
  width: 100% !important;
}
.customInput option{
  padding: 10px !important;
}
.tablePadding tbody tr td{
  padding: 5px 16px !important;
}
.docsImage{
  height:100px;
  width:100%;
  margin-bottom:10px;
  cursor:pointer;
  border-bottom:1px solid
}
.docsImage :hover{
  box-shadow: 10px 10px 5px #000000;
  -moz-box-shadow: 0px 10px 5px #000000;
-webkit-box-shadow: 0px 10px 5px #000000;     
}
.carousel .slide {
  /* box-shadow: 2px 6px 8px #000;
  border-bottom: 2px solid gray;
  border-left: 1px solid gray; */
  padding: 10px;
}
.background-button {
  background: #fff !important;
  border: 1px solid #0171a3 !important;
  border-radius: 5px !important;
  color: #0171a3 !important;
}
.background-button:hover{
  background-color: #0171a3 !important;
  color: #fff !important;
}
.border-button{
  background: #0171a3 !important;
  border: 1px solid #0171a3 !important;
  border-radius: 5px !important;
  color: #fff !important;
}
.border-button:hover{
  background: #fff !important;
  border: 1px solid #0171a3 !important;
  border-radius: 5px !important;
  color: #0171a3 !important;
}
.orderList:hover{
  background-color: rgb(167 225 249);
  cursor: pointer;
}
.text-button{
  color:#0171a3 !important ;
}
.css-1aquho2-MuiTabs-indicator{
  background-color: #0171a3 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #0171a3 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #0171a3 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #0171a3 !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #0171a3 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  background-color: rgb(219 2 6 / 33%) !important;
}
.css-10d9dml-MuiTabs-indicator{
  background-color: #0171a3 !important;
}
.css-1hsz34s-MuiDrawer-docked{
  width: 220px !important;
}
.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper{
  width: 220px !important;
}
.css-cveggr-MuiListItemIcon-root{
  min-width: 45px !important;
}
@media (min-width: 600px)
{
.css-2dum1v-MuiDrawer-docked {
    width: calc(60px + 1px) !important;
}
.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
  width: calc(60px + 1px) !important;
}
}

.grid-container {
  display: grid;
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.grid-element {
  padding: 20px;
}

.tableCenter thead th, .tableCenter tbody tr td{
  text-align:center;
  border: 1px solid black;
  border-collapse: collapse;
}
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
    background: #000;
    color: #fff;
    font-weight: bold !important;
}
.css-623g43-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-weight: bold !important;
  color: #000;
}
.MuiFormLabel-asterisk {
  color: red;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
  background: #fff;
    padding: 0px 5px;
}
.MuiSelect-multiple{
  padding-top: 18px;
}
.multi{
  margin-top: -5px;
}
/* .hauto div input{
  height: auto !important;
} */
/* .datePickerPad{
  padding: 8.5px 14px !important;
} */
.dateInput div input{
  height: 0.4375em !important;
}